spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/spring
    username: postgres
    password: 1
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
     jwt:
       secret-key: nKUe1wAZF9/wScjjW0gvhagV8tOK4vD4aHZ5a4a6Md8=

server:
  port: 8080
